.mtk3 {
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

/* Headers for markdown files */
.mtk4 {
  color: #79C6FA;
  text-shadow: 0px 0px 0px #79C6FA, 0 0 1em #79C6FA, 0 0 1em #79C6FA
    /* text-shadow: 1px 1px 1px #03edf9, 0 0 1em #03edf9, 0 0 0.2em #03edf9; */
    /* text-shadow: 1px 1px 1px black, 0 0 1em #FF00FF, 0 0 0.2em #FF00FF; */

    /* color: #FF00FF; */
    /* color: #03edf9; */
    /* color: #6d77b3; */
}

.mtk5 {
  color: #f97e72;
}

.mtk6 {
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

.mtk7 {
  color: #fff5f6;
  text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75;
}

/* Things like code blocks in markdown files (commands and whatnot) */
.mtk8 {
  color: #72f1b8;
  text-shadow: 1px 1px 1px #72f1b8, 0 0 1em #72f1b8, 0 0 0.2em #72f1b8;
}

.mtk9 {
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
}

/* Comments */
.mtk11 {
  color: #FF00FF;
  text-shadow: 0px 0px 0px #FF00FF, 0 0 1em #FF00FF, 0 0 1em #FF00FF
    /* text-shadow: 1px 1px 1px #FF00FF, 0 0 1em #FF00FF, 0 0 0.2em #FF00FF; */
    /* text-shadow: 1px 1px 1px black, 0 0 1em black, 0 0 0.5em #03edf9; */
    /* font-weight: normal !important; */
    /* text-shadow: 1px 1px 1px black, 0 0 1em #FF00FF, 0 0 0.2em #FF00FF; */
    /* text-shadow: 1px 1px 1px blueviolet, 0 0 1em blueviolet , 0 0 0.2em blueviolet; */
    /* text-shadow: 1px 1px 1px purple, 0 0 1em purple, 0 0 0.2em black; */
    /* color: #FF00FF; */
    /* color: #62005D; */
    /* text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue; */
    /* background-color: #03edf9 ; */
    /* box-shadow: inset  0px 0px 5px #03edf9; */
    /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
    /* text-shadow: 1px 1px 2px #FF00FF, 0 0 1em #03edf9, 0 0 0.2em #03edf9; */
    /* text-shadow: 1px 1px 2px #03edf9, 0 0 1em #03edf9, 0 0 0.2em #03edf9; */
}

/* variable keywords like 'const' in javascript */
/* .mtk25 {
  color: #00bff9;
  text-shadow: 1px 1px 1px #03edf9, 0 0 1em #03edf9, 0 0 0.2em #03edf9;
} */

/* var names */
/* .mtk16 {
  color: #92b6f4;
  text-shadow: 1px 1px 1px #03edf9, 0 0 1em #03edf9, 0 0 0.2em #03edf9;
} */

/* function calls */
.mtk27 {
  /* color: #87aff4; */
  color: #03edf9;
  text-shadow: 0px 0px 0px #03edf9, 0 0 1em #03edf9, 0 0 1em #03edf9
}

/* This exposes the gradient configured in the next block */
.monaco-editor .margin,
.monaco-editor .inputarea.ime-input {
  background: transparent;
}

/* Add the subtle gradient to the editor background */
.monaco-editor {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #011627 95%, #294f4c5b);
  background-position: top;
  background-repeat: no-repeat;
}

/* Sweet sunrise dots */
.monaco-workbench .activitybar>.content .monaco-action-bar .badge .badge-content {
  background: linear-gradient(to bottom, #011627 25%, #FF00FF);
}

/* Titlebar (Active) */
.monaco-workbench .part.titlebar {
  color: #03edf9 !important;
  font-weight: 500;
  /* font-style: italic; */
  /* box-shadow: inset 0 -5px 25px #03edf9; */
  /* box-shadow: inset 0 -5px 25px rgb(0, 67, 251); */
  /* box-shadow: inset 0 -5px 1000px #0F4C81; */

  box-shadow: inset 0 -5px 25px #FF00FF;
  background: black !important;

  /* border-bottom: 1px linear-gradient(to left, #FF00FF, #03edf9) !important; */
  border-bottom: 1px solid #FF00FF !important;
  /* border-bottom: 1px solid linear-gradient(to left, #FF00FF, #03edf9) !important; */
  transition: box-shadow 1s;
}

/* Titlebar (Inactive) */
.monaco-workbench .part.titlebar.inactive {
  /* color: #FF00FF!important; */
  color: rgba(238, 239, 255, 0.6) !important;
  /* font-weight: normal; */
  /* background-color: rgb(0, 10, 17) !important; */
  box-shadow: none;
  transition: box-shadow 2s;
}

/* Active editor tab label (text) */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active .monaco-icon-label {
  cursor: pointer;
  color: #03edf9 !important;
  /* color: rbg(137,	212	,248	) !important; */
}

/* Active tab neon */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active {
  box-shadow: inset 0 -5px 25px #FF00FF;
  position: relative;
  color: #03edf9 !important;
}

/* Active tab c ya */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active .monaco-icon-label::after {
  content: '';
  opacity: 1;
}

/* Inactive tab c ya */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit .monaco-icon-label::after {
  content: 'c ya';
  position: absolute;
  left: 70%;
  color: white;
  transition: all 1s ease-out !important;
  opacity: 0;
}

/* Active tab stripe */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, #FF00FF, #03edf9) !important;
  opacity: 1;
  z-index: 6;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 0px;
  transition: opacity 1s;
  opacity: 0;
  z-index: 6;
}

/* Active sidebar item */
.monaco-workbench .activitybar>.content .monaco-action-bar .action-item.checked {
  box-shadow: inset 0 -5px 25px #FF00FF;
  position: relative;
  /* transition: all 1s ease-in-out; */
}

.monaco-workbench .activitybar>.content .monaco-action-bar .action-item.checked::after {
  content: '';
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 2px;
  z-index: 1;
  background: linear-gradient(to bottom, #FF00FF, #03edf9) !important;
  opacity: 1;
  /* transition: all 1s ease-in-out; */
  /* box-shadow: none; */
}

.monaco-workbench .activitybar>.content .monaco-action-bar .action-item::after {
  content: 'c ya';
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 0px;
  /* transition: box-shadow 1s ; */
  /* transition: box-shadow 1s; */
  /* transition: all 1s; */
  /* box-shadow: none; */
  /* transition: all 1s ease-out; */
  transition: all 1s ease-in-out;
  opacity: 0;
}

/* update lightbulb */
.codicon-lightbulb {
  /* color : #03edf9 !important; */
  color: #FF00FF !important;
  filter: brightness(800%) blur(1px) !important;
}

/* Status bar */
.monaco-workbench .part.statusbar {
  /* background: linear-gradient(to  bottom, #FF00FF, #03edf9); */
  box-shadow: inset 0 -5px 25px #FF00FF;
  background: black !important;
  font-weight: 500;
}

/* little strip above status bar */
.monaco-workbench .part.statusbar::after {
  background: linear-gradient(to right, #FF00FF, #03edf9);
}

/* Status bar (left items) */
.monaco-workbench .part.statusbar>.left-items {
  /* color: #FF00FF !important; */
  /* color: black; */
  color: #03edf9 !important;
  /* color: white !important; */
  /* filter: brightness(200%)  ; */
}

/* Remote-Container statusbar (for my setup anyway) */
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.has-background-color>:first-child {
  /* color: #FF00FF !important; */
  color: #03edf9 !important;
  /* color: white !important; */
}

/* Status bar (right items) */
.monaco-workbench .part.statusbar>.right-items {
  /* background: linear-gradient(to right, #FF00FF, #03edf9) !important; */
  color: #03edf9 !important;
  /* color: white !important; */
  /* filter: brightness(75%) ; */
}

/* Remote-Container statusbar item */
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.has-background-color.left.first-visible-item,
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.has-background-color.right.last-visible-item {
  background: transparent !important;
}

/* .xterm-dom-renderer-owner-1 .xterm-rows  */
.xterm-dom-renderer-owner-1 .xterm-rows {
  color: #FF00FF;
  /* background-color: #011627; */
  /* font-family: Menlo, Monaco, 'Courier New', monospace; */
  /* font-size: 12px; */
}