.mtk3 {
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

.mtk4 {
  color: #6d77b3;
}

.mtk5 {
  color: #f97e72;
}

.mtk6 {
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

.mtk7 {
  color: #fff5f6;
  text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75;
}

.mtk8 {
  color: #72f1b8;
  text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;
}

.mtk9 {
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
}

/* This exposes the gradient configured in the next block */
.monaco-editor .margin,
.monaco-editor .inputarea.ime-input {
  background: transparent;
}

/* Add the subtle gradient to the editor background */
.monaco-editor {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #011627 95%, #294f4c5b);
  background-position: top;
  background-repeat: no-repeat;
}

/* Sweet sunrise dots */
.monaco-workbench .activitybar>.content .monaco-action-bar .badge .badge-content {
  background: linear-gradient(to bottom, #011627 25%, #FF00FF);
}

/* Active tab neon */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active {
  box-shadow: inset 0 -5px 25px #FF00FF;
  position: relative;
}

/* Active tab stripe */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #FF00FF, #03edf9) !important;
  opacity: 1;
  z-index: 6;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 0px;
  transition: opacity 1s;
  opacity: 0;
  z-index: 6;
}

/* Active sidebar item */
.monaco-workbench .activitybar>.content .monaco-action-bar .action-item.checked {
  box-shadow: inset 0 -5px 25px #FF00FF;
  position: relative;
}

.monaco-workbench .activitybar>.content .monaco-action-bar .action-item.checked::after {
  content: '';
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 3px;
  z-index: 1;
  background: linear-gradient(to bottom, #FF00FF, #03edf9) !important;
  opacity: 1;
}

.monaco-workbench .activitybar>.content .monaco-action-bar .action-item::after {
  content: 'c ya';
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 0px;
  transition: opacity 1s;
  opacity: 0;
}

/* update lightbulb */
.codicon-lightbulb {
  /* color : #03edf9 !important; */
  color: #FF00FF !important;
  filter: brightness(800%) blur(1px) !important;
}

/* Status bar */
.monaco-workbench .part.statusbar {
  background: linear-gradient(to left, #FF00FF, #03edf9) !important;
}


/* Status bar (left items) */
.monaco-workbench .part.statusbar>.left-items {
  color: black !important;
  background: linear-gradient(to left, #FF00FF, #03edf9) !important;
}

/* Status bar (right items) */
.monaco-workbench .part.statusbar>.right-items {
  background: linear-gradient(to right, #FF00FF, #03edf9) !important;
}

/* Remote-Container statusbar item */
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.has-background-color.left.first-visible-item,
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.has-background-color.right.last-visible-item {
  background: linear-gradient(to right, #FF00FF, #03edf9) !important;
  color: black !important;
}